@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,600&family=Open+Sans:ital,wght@1,300&family=Playfair+Display:ital@1&family=Poppins:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
nav{
    background:linear-gradient(rgb(0, 0, 51),rgb(11, 98, 185));
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 50px 0 80px;
}
.logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 6px;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: aliceblue;
    padding: 7px 12px;
    border-radius: 3px;
    transition: 0.5s;
}
nav ul li a:hover,nav ul li a.active{
    background-color: rgb(101, 101, 206);
}
#click{
    display: none;
}
.menu-btn{
    color: aliceblue;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
/* header section code start */
header{
    width: 100%;
    height: 90vh;
    background-image: url(responsive.img/image-17.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

/* service section code start */
.service-section{
    background-color: rgb(16, 16, 85);
}
.service-title{
    text-align: center;
    color: aliceblue;
    font-size: 28px;
    letter-spacing: 0.2em;
    padding: 50px 0;
}
.service-parent{
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    padding-bottom: 100px;
}

.service-items{
    background-color: aliceblue;
    text-align: center;
    border: 3px solid green;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    padding: 30px 20px;
}
.service-items i{
    font-size: 40px;
}
.service-items h2{
    font-weight: bold;
    margin: 10px 0; 
}
.service-items p{
    font-weight: bold;
}
/* smart section of main tag code start hare */
.smart-section{
    background-color: rgb(52, 52, 158);
    padding: 50px 0  100px 0;
}
.smart-title h2{
    text-align: center;
    color: yellow;
    letter-spacing: 0.2em;
    margin-top: 30px;
}
.smart-parent{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    color:#fff;
}
.smart-text h2{
    margin: 20px 0;
    font-size: 30px;
}
.smart-text a{
    text-decoration: none;
    color: black;
    background-color: rgb(224, 220, 214);
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}

/* third section  of main tag code start hare */
.third-section{
    background-image: url(responsive.img/bacgrond.umg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0;
} 
.about-parent{
    display: flex;
    gap: 30px;
    color: #fff;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    justify-content: center;
}
.more-about h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.more-about ul{
    margin: 20px 0;
}
.more-about a{
    text-decoration: none;
    background-color: yellow;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
}
.about-box-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.about-box{
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 10px 20px;
    border: 3px solid green;
    border-radius: 5px;
}
.about-box h4{
    padding: 10px;
    font-size: 20px;
}
.about-box p{
    font-weight: bold;
    font-size: 15px;
}
/* fourth section code start */
#fourth-section{
    background-color:  rgb(46, 46, 165);
    padding: 100px 0;
    color: #fff;
}
.advice-parent{
    display: flex;
    gap: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
.advice-items h4{
    margin: 10px 0;
}
.advice-image{
   width: 500px;
}
.advice-image img{
    width: 100%;
}
 .advice-items p{
    margin: 20px 0;
    line-height: 1.5;
    text-align: justify;
 }
 .advice-items h3{
    font-size: 25px;
    border-bottom: 3px solid red;
    padding-bottom: 20px;
 }
 .advice-items a{
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: 40px;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    border: 2px solid black;

 }
 .advice-icon{
    text-align: center;
 }
 .advice-icon a{
    margin: 0 5px;
 }
 .advice-items a:hover{
    background-color: rgb(143, 131, 118);
 }

 /* five section start */
 .contact-sec{
    background-image:linear-gradient(#14161d80,#1012149a),url(responsive.img/bennar.img);
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
form{
    margin: 0 auto;
    background-color: rgb(81, 81, 216);
    max-width: 50%;
    padding: 50px 60px;
    color: #fff;
    text-align: center;
    border: 5px solid rgba(153, 153, 231, 0.664);
    border-radius: 5px;
 }
form h2{
    font-size: 30px;
    letter-spacing: 0.1em;
}
form p{
    margin: 20px 0;
    font-size: 16px;
    letter-spacing: 0.1em;
}
form input{
    display: block;
    margin: 40px 0;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid rgb(143, 143, 189);
    font-size: 15px;
 }
form input::placeholder{
    color: rgb(143, 143, 189);
}
form button{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    background: none;
    color: #fff;
    padding: 5px 30px;
    outline-style: ridge;
    transition: 0.5s;
}
form button:hover{
    background-color:  #4a87c5;
}

/* six section start */

.match-sec{
    background-color: rgb(5, 5, 87);
}
.match-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
    gap: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 100px 0;
}
.single-match{
    border: 4px solid #26528f;
    padding: 20px;
}
.single-match:nth-child(2){
    border: 4px solid #fff;
}
.single-match i{
    font-size: 50px;
    padding: 0 20px 10px 20px;
}
.single-match p{
    margin-bottom: 10px;
    color: gray;
    font-size: 12px;
}
.first-single-match{
    line-height: 1.5;
    letter-spacing: 0.2em;
}


/* saven section code start */
.saven-section{
    margin: 150px 0 100px 0;
}
.taken-parent{
    display: flex;
    justify-content: center;
}
.taken-text{
    width: 400px;
    padding: 50px 0;
}
.taken-text h3{
    font-size: 25px;
}
.taken-text p{
    margin: 20px 0;
}
.taken-text ul li{
    list-style: inside;
    margin: 5px 0;
    font-weight: bold;
}
.taken-img img{
    width: 600px;
}
/* saven section code fenished */






/* responsive work start */
@media only screen and (max-width: 940px){
    nav ul{
        position: fixed;
        background-color: rgb(6, 6, 61);
        top: 80px;
        left: -100%;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        transition: all 0.5s ease-in;
    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 22px;
    }
    nav ul li a:hover,nav ul li a.active{
        color: red;
        background: none;
    }
    #click:checked~ul{
        left: 0%;
    }
    #click:checked~.menu-btn i::before{
        content: "\f00d";
    }
    .menu-btn{
        display: block;
    }

}
/* first section of main tag media quary code start */
@media only screen and (max-width: 688px) {
    .service-parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        width: 100%;
    }
    /* first section of main tag media quary code finished */
     /* second section of main tag media quary code start */
    .smart-parent{
        margin-left: 30px;
        margin-right: 30px;
        display: block;
    }
    .smart-img{
        margin-bottom: 30px;
        width: 100%;
    }
    /* second section of main tag media quary code finished */
    /* third section of main tag media quary code start */
    .about-parent{
        display: block;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
    }
    .about-box-parent{
        display: block;
        grid-template-columns: repeat(1,1fr);
    }
    .more-about a{
        margin-bottom: 30px;
    }
    .about-box{
        margin-bottom: 20px;
    }
    /* third section code finished */
    /* advice section code start */
    .advice-parent{
        display: block;
        margin-left: 30px;
        margin-right: 30px;
    }
    .advice-image{
        width: 100%;
     }
     .advice-icon{
        text-align: left;
     }
     .advice-icon a{
        margin: 10px 5px;
     }
     .advice-items h3{
        margin-top: 50px;
     }
     /* advice section code fenished */
    /* contact section code is start */

    form{
        max-width: 90%;
        padding: 20px 30px;
     }
    /* contact section code is fenished */
    /* match section code start*/
    .match-parent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .first-single-match{
        text-align: center;
    }
    /* match section code fenished */
/* take care section code start */
   .taken-parent{
    display: block;
    width: 100%;
   }
    .taken-img img{
        width: 100%;
    }
    .taken-text{
        width: 100%;
    }
     /* take care section code fenished */
 
}

@media only screen and (min-width: 689px) and (max-width: 1099px) {
    .service-parent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        width: 100%;
    }
       /* first section of main tag media quary code finished */
     /* second section of main tag media quary code start */

       .smart-parent{
        margin-left: 70px;
        margin-right: 70px;
        align-items: center;
        display: block;
    }
    .smart-img{
        width: 100%;
        margin-bottom: 70px;
    }
     /* second section of main tag media quary code finished */
      /* third section of main tag media quary code start */
    .about-parent{
        display: block;
        align-items: center;
        margin-left: 70px;
        margin-right: 70px;
    }
    .about-box-parent{
        display: block;
        grid-template-columns: repeat(1,1fr);
    }
    .more-about a{
        margin-bottom: 70px;
    }
    .about-box{
        margin-bottom: 40px;
    }
    /* third section code finished */
    /* advice section code start */
    .advice-parent{
        display: flex;
        margin-left: 70px;
        margin-right: 70px;
    }
    .advice-image{
        width: 100%;
     }
     .advice-icon{
        text-align: center;
     }
     .advice-icon a{
        margin: 10px 5px;
     }
    /* advice section code fenished */
    /* contact section code is start */

    form{
        max-width: 80%;
        padding: 40px 50px;
     }
    /* contact section code is fenished */
     /* match section code start */
     .match-parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
        margin-left: 70px;
        margin-right: 70px;
    }
     /* match section code fenished */
     /* take care section code start */
     .taken-parent{
        display: flex;
        width: 100%;
        padding: 0 9px;
       }
       .taken-img img{
        width: 100%;
    }
    .taken-text{
        width: 100%;
    }

/* take care section code fenished */
}
